body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  place-items: center center;
  display: grid;
  background-color: lightgrey;
}

.calculator-container {
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightslategray;
}

.top {
  width: 100%;
}
.bottom {
  width: 100%;
  display: flex;
}
.bottom-left {
  width: 75%;
}
.bottom-right {
  width: 25%;
}

.numpad {
  display: flex;
  flex-wrap: wrap-reverse;
  font-weight: bold;
}
.numpad > .button {
  width: 33.333333333333333%;
}

.misc-keys > .button {
  width: 33.333333333333333%;
}

.misc-keys {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  font-weight: bold;
}

.operator-keys {
  background-color: orange;
  color: whitesmoke;
  font-weight: bold;
}

.standard {
  border: 1px black solid;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.display {
  height: 100px;
  width: 100%;
  background-color: whitesmoke;
  font-size: 40px;
  text-align: end;
  line-height: 100px;
  padding-right: 10%;
}

.numpad > .zero {
  width: 66.666666666666%;
  border: 1px black solid;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
